.TheNavigation,
.TheNavigation ul {
    display: flex;
}

.TheNavigation ul {
    align-items: center;
}
.TheNavigation ul li {
    list-style-type: none;
    padding: .5rem
}

.TheNavigation a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.836)
}

.ActiveLink {
    padding-bottom: 4px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.836)
}

@media (max-width: 1160px) {
    .TheNavigation {
        padding: 0 1rem
    }
}

@media(max-width: 430px) {
    .TheNavigation {
        padding: 0
    }
}
@media(max-width: 330px) {
    .Ul {
        padding-left: .5rem
    }
}