.TheNavigation,
.TheNavigation ul {
    display: flex;
}

.TheNavigation ul {
    align-items: center;
}
.TheNavigation ul li {
    list-style-type: none;
    padding: .5rem
}

.TheNavigation a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.836)
}

.ActiveLink {
    padding-bottom: 4px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.836)
}