.ItemContainer {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: .5rem;
    background: rgba(0,0,0,.2)
}

@media(max-width: 350px) {
    .ItemContainer {
        flex-direction: column;
    }
}

.ProductImage {
    width: 70px
}

.ProductName {
    font-weight: bold;
}

.Amount {
    width: 40px
}
.Trashcan {
    margin-left:1rem;
    position: relative;
    top: 5px
}
.Trashcan:hover {
    cursor: pointer;
}

@media (max-width: 810px) {
    .ItemContainer {
        margin: 1rem
    }
}