.ItemContainer {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: .5rem;
}

.ProductImage {
    width: 70px
}

.ProductName {
    font-weight: bold;
}

.Amount {
    width: 40px
}

