.Danger {
    background: rgb(250, 127, 114);
}

.Input {
    border: none;
    width: 20rem;
    padding: .5rem .7rem;
    margin-bottom: 1rem
}

.Label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: .5rem;
    text-transform: capitalize;

}