.ProductFilters {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem
}

.BrandFilter {
    margin-right: .7rem
}

.FilterContainer {
    margin-left: 2rem
}

@media(max-width: 480px) {
    .ProductFilters {
        flex-direction: column-reverse;
    }

    .FilterContainer {
        margin-left: 1rem
    }
}