*, *:after, *:before {
  box-sizing: border-box;
}

::selection {
  color: white;
  background: rgb(11, 47, 148)
}
body {
  margin: 0;
  padding: 0
}

.App {
  text-align: center;
  background: #c38333;
  min-height: 100vh
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.transition-group {
  position: relative;
}

.route-section {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}